PyMuPDF==1.23.4
tabula-py==2.8.2
PyPDF2==3.0.1
pycryptodome==3.19.0
pdfplumber==0.10.2
camelot-py==0.11.0
opencv-python==4.8.1.78
fastapi==0.103.2
SQLAlchemy==2.0.22
pymongo==4.5.0
psycopg2-binary==2.9.9
uvicorn==0.23.2
python-multipart==0.0.6
httpx==0.25.0
pytest==7.4.2
requests==2.31.0
python-dotenv==1.0.0
mongomock==4.1.2
pandas==2.1.1